<div class="row">

    <div class="col-md-12 mb-4 text-right mt-1">
        <button
        [routerLink]="['addproducts']"
        mat-raised-button color="primary">Add product</button>
    </div>

    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let product of productArr"
           [routerLink]="['/products', product.pid]"
            >
        {{product.pname}} 
        
        <small class="badge ml-3" [ngClass]="{'badge-primary': product.pstatus === 'In-progress',
            'badge-warning': product.pstatus === 'Dispatched',
            'badge-success': product.pstatus === 'Delivered'
        }"
         >{{product.pstatus}}</small>
        </li>
        </ul>
    </div>
</div>
 <!-- [routerLink]="product.pid" -->

